{{ define "subscriber-optin" }}
{{ template "header" . }}
<h2>{{ L.Ts "email.optin.confirmSubTitle" }}</h2>
<p>Hey {{ .Subscriber.FirstName }}</p>
<p>You were recently added to a mailing list</p>
<p>Confirm your subscription by clicking the button below</p>
<!-- <div style="height: 45px;width: 200px;background-color: #dce2e5;justify-content: center;align-items: center;border-radius: 5px;display: flex;">  -->
<a href="{{ .OptinURL }}" class="button">Confirm Subscription</a>
<!-- </div> -->
{{ template "footer" }}
{{ end }}
