/* $bg-color: #eee;
$main-color: #fff;
$text-color: #333;

body {
  background-color: $bg-color;
  font-family: 'Roboto Slab';
  font-weight: 300;
  color: $text-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}
*/

.ripped-paper-main {
  position: relative;
  width: 50%;
  margin: 40px auto;
  
  .ripped-paper-content {
    height: auto;
    overflow: hidden;
    padding: 20px;
    background: var(--poemBg);
    box-shadow: 0 3px 5px rgba(0,0,0,0.05);
  
    &:before, &:after {
      content: ""; height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      clip-path: polygon(0% 0%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%, 30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
      -webkit-clip-path: polygon(0% 0%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%, 30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
    }
    &:before {
      background-color: var(--bg);
      top: 0;
    }
    &:after {
      background-color: var(--poemBg);
      bottom: -2px;
    }
  }
}